<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quarky.unionmeals">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_meals_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver android:name=".MealWidget"
            android:label="Union Meals"
            android:icon="@drawable/ic_meals_icon"
            android:logo="@drawable/ic_meals_icon"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/meal_widget_info" />
        </receiver>

        <activity
            android:name=".MealWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
